<!DOCTYPE html>
<html>
<head>
	<title>登录页面</title>
	<link rel="shortcut icon" href="__ROOT__/static/image/blog1.ico"/>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background: ;margin: 0px;padding-top: 0px; padding-bottom: 0px">

<div style="background:gray ;margin-right: 0px; padding-left:;padding-right: ; padding-top: 150px;padding-bottom: 200px">
	<div class="container" >

					<form class="form-horizontal" style="background: " action="dologin" method="post" role="form">

						<label for="name" class="col-sm-offset-5"><h1>用户登录</h1></label>

						  <div class="form-group">
							
						    <label for="username" class="col-sm-offset-2 col-sm-2 control-label">名&nbsp;&nbsp;&nbsp;&nbsp;字</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" id="username" name="username" placeholder="请输入名字">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="password" class="col-sm-offset-2 col-sm-2 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
						    <div class="col-sm-4">
						      <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="password" class="col-sm-offset-2 col-sm-2 control-label">验证码</label>
						    <div class="col-sm-2">
						      <input type="text" class="form-control" id="code" name="code" placeholder="请输入验证码">
						    </div>
						    <div><img src="captcha" onclick="javascript:this.src=this.src+'?tm='+Math.random();" alt="captcha" /></div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-4 col-sm-10">
						      <div class="checkbox">
						        <label>
						          <input type="checkbox">请记住我
						        </label>
						      </div>
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-4 col-sm-10">
						      <button type="submit" class="btn btn-primary">登录</button>
						      <button type="button" onclick="{location.href='__ROOT__/Login/register'}" class="btn btn-primary">注册</button>
						    </div>
						  </div>
				  
					</form>

</div>
</div>
</body>
</html>