{extend name="index/common" /}
{block name="right"}
	<form method='post' enctype="multipart/form-data" action='__ROOT__/mail/sendMail'>
		标题: <input name='title' type='text'><br>		
		内容:<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea name='message' rows='10' cols='40'>
		</textarea><br>
		添加附件: 
		<input type="file" name="myfile" onchange="fileChange(this);"><br>
		<input id="submit" type='submit' >
		<script type="text/javascript">
        var isIE = /msie/i.test(navigator.userAgent) && !window.opera;
        function fileChange(target){
            var fileSize = 0;
            if (isIE && !target.files) {    // IE浏览器
                var filePath = target.value; // 获得上传文件的绝对路径
                var fileSystem = new ActiveXObject("Scripting.FileSystemObject");
                // GetFile(path) 方法从磁盘获取一个文件并返回。
                var file = fileSystem.GetFile(filePath);
                fileSize = file.Size;    // 文件大小，单位：b
            }
            else {    // 非IE浏览器
                fileSize = target.files[0].size;
            }
            var size = fileSize / 1024 / 1024;
            if (size > 1) {
                alert("附件不能大于1M");
                $('#submit').attr("disabled","disabled"); 
            }else{
            	$('#submit').removeAttr("disabled"); 
            }
        }
        </script>
	</form>
{/block}