{extend name="index/common" /}

{block name="right"}
			<form class="form-horizontal" style="background: #BFBFBF"  action="doaddgroup" method="post" role="form">
				  <div class="form-group">
				    <label for="title" class=" col-sm-2 control-label">用户组名</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="groupname" name="groupname" placeholder="请输入用户组名">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="content" class=" col-sm-2 control-label" >用户组描述</label>
				    <div class="col-sm-6">
				      	<textarea class="form-control" rows="4" name="description" placeholder="请输入用户组描述"></textarea>
				    </div>
				  </div>				  								 
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-primary">提交</button>
				    </div>
				  </div>	  
			</form>
{/block}